@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@400;700&display=swap');

:root{
    --pink: #FC458B;
    --bright-blue: #10ADEE;
    --medium-blue: #007cba;
    --yellow: #f7c100;
    --blue: #00a5de;
}


*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.25;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: #333;
    color: #222;
}
h1{
    font-size: 4rem;
    margin-bottom: 0;
}
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    color: var(--pink);
    
}

small{
    font-size: 1.2rem;
    color: var(--bright-blue);
    display: inline-block;
    transform: translateY(-5px);
}

.container{
    background-color: #fafafa;
}

.container.show-nav{
    transform: rotate(-20deg);
    transform-origin: top left;
    transform 0.5s linear;
}


/*
Helpers
************************/

.center{
    text-align:center;
}

.image{
    max-width: 400px;
}